---
import {getCollection} from "astro:content"
import Layout from "../layouts/Layout.astro"

const projects = await getCollection("projects")
---

<Layout title="Projects">
    <div class="p-4">
        <div class="text-xs text-gray-400 mb-2 font-medium">
            GOBOSCRIPT GAMES & DEMOS
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3 max-w-3xl">
            {
                projects.map((p) => {
                    if (!p) return null
                    let r = p.data.readme.split("\n")[0].replace(/^#+ /, "")
                    return (
                        <a
                            href={`/projects/${p.id}`}
                            class="bg-white px-3 py-2 rounded border border-gray-200 hover:border-gray-400 transition-colors"
                        >
                            <div class="text-base font-medium mb-1">{p.id}</div>
                            <div class="text-xs text-gray-600 truncate">{r}</div>
                        </a>
                    )
                })
            }
        </div>
    </div>
</Layout>
